@page "/data-grid"

<PageTitle>DataGrid</PageTitle>
<div class="row">
    <div class="col-12">
        <RadzenText Text="DataGrid" TextStyle="TextStyle.H3" TagName="TagName.H1" />
    </div>
</div>
<RadzenDataGrid TItem="dynamic" AllowFiltering="true" AllowCompositeDataCells="true" AllowColumnResize="true" AllowColumnReorder="true" AllowColumnPicking="true" AllowMultiColumnSorting="true" AllowPaging="true" AllowSorting="true"></RadzenDataGrid>